
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #e6dcc9;
    display: flex;
    flex-direction: column;
}

.menu {
    width: 100%;
    background: linear-gradient(#cfe3b0, #b7d48a);
    padding: 20px;
    box-sizing: border-box;
}

.menu h2 {
    text-align: center;
}

.menu button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #6f9444;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #5c7c37;
}

.conteudo {
    flex: 1;
    padding: 30px;
}

.topo {
    display: flex;
    justify-content: column;
    align-items: flex-start;
    gap: 15px;
}

.topo h1 {
    margin: 0;
}

.pesquisa {
    width: 100%;
}

.pesquisa input {
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #999;
    box-sizing: border-box;
}

.lista-livros {
    margin-top: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
}

.livro {
    background-color: #f4f1e8;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.livro img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
   
}

.status {
    background-color: #cfe3b0;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 10px 0;
    display: inline-block;
}

.botao {
    background-color: #6f9444;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.botao:hover {
    background-color: #5c7c37;
}
 
/* Tablet: 2 colunas */
@media (min-width: 600px) {
    .lista-livros {
        grid-template-columns: repeat(2, 1fr);
    }
    .topo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .pesquisa input {
        width: 260px;
    }
    .botao {
        width: auto;
    }
}

/* Desktop: 3 colunas */
@media (min-width: 900px) {
    body {
        flex-direction: row;
    }

    .menu {
        width: 220px;
        height: 100vh;
    }
    .lista-livros {
        grid-template-columns: repeat(3, 1fr);
    }
}
